<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <app-add-todo (todoAdded)="onTodoAdded($event)"></app-add-todo>
  </header>
  <section class="main" *ngIf="$todoCount | async">
    <app-todo-list [todos]="$todos | async | todosFilter:filter"
                   (removed)="onRemoved($event)"
                   (changed)="onChanged($event)"
                   (toggleAllClicked)="toggleAll()"></app-todo-list>
  </section>
  <footer class="footer" *ngIf="$todoCount | async">
    <span class="todo-count"><strong>{{$incompleteCount | async}} item{{($incompleteCount | async) !== 1 ? 's' : ''}} left</strong>
    </span>
    <ul class="filters">
      <li>
        <a [ngClass]="{selected: filter === 'All'}" routerLink="/">All</a>
      </li>
      <li>
        <a [ngClass]="{selected: filter === 'Active'}" routerLink="/active">Active</a>
      </li>
      <li>
        <a [ngClass]="{selected: filter === 'Completed'}" routerLink="/completed">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" (click)="clearCompleted()"
            *ngIf="$completedCount | async">Clear completed</button>
  </footer>
</section>
